<div class="wrapper">
   <div [routerLink]="['../']" class="back"> back</div>
   <h1>ARTEM SOPRUN</h1>
   <p>
      Dear Hiring Manager,
   </p>
   <p>
      I am writing to express my interest in the Front-end Angular Developer position. With my
      background in front-end development and expertise in Front-end technologies, I am
      confident that I would be a valuable asset to your team.
   </p>
   <p>
      As an front-end developer, I have extensive knowledge: of languages - JavaScript,
      TypeScript and basic knowledge of Php; frameworks - Angular, Bootstrap; libraries - RxJS,
      PrimeNg, jQuery; and tools - REST API, HTML, CSS, and SASS, GIT, GULP, and Webpack.
      You can find some of my works, which demonstrate my experience, in portfolio from the link
      above.
   </p>
   <p>
      I am always expanding my skill set and am currently in the process of studying technologies
      such as MySQL, Node.js, MongoDB, Express. I enjoy learning and staying up to date with
      the latest developments in the industry, and am committed to producing high-quality code
      that delivers the best possible user experience.
   </p>
   <p>
      I have a Diploma in program subject area “Frontend Developer” and have worked on a
      variety of projects, ranging from small-scale websites to large-scale enterprise applications.
      I am excited about the opportunity to bring my skills and expertise to your team and to help
      your company achieve its goals.
   </p>
   <p>
      Thank you for considering my application.
   </p>
   <p>
      I look forward to the opportunity to discuss my qualifications in more detail.
   </p>
   <p>
      Thank you for your time!
   </p>
   <p>
      Sincerely,
   </p>
   <p>
      Artem Soprun
   </p>

   <p>Mail: <a href="mailto:artemios69soprun@gmail.com">artemios69soprun@gmail.com</a>
   </p>
   <p>Portfolio: <a href="https://github.com/art69emios">https://github.com/art69emios</a> </p>

   <div class="img"><img src="assets/CV1.jpg" alt=""></div>
</div>