<div class="wrapper">
   <div *ngIf="countryInfoDetails" style="color: aliceblue;" class="wrapper__title">
      <p>{{countryInfoDetails[0].name.common}}</p>
      <a [routerLink]="['../']">Back</a>
   </div>
   <div class="wrapper__container">
      <div *ngFor="let country of countryInfoDetails" class="wrapper__countries">
         <div class="wrapper__top">
            <div class="img"><img src="{{country.flags.png}}" alt=""></div>
            <p class="wrapper__cca3">{{country.cca3}}</p>
         </div>
         <p>Capital:{{country.capital}}</p>
         <p>Population: {{country.population }}</p>
         <p>Time Zones: {{ country.timezones}}</p>
         <p>Languages: {{ country.name.official}}</p>
      </div>
   </div>
</div>