header{
   align-items: center;
   display: flex;
   padding: 3%;
   background-color: #141414;
   border-bottom: 3px solid rgb(170, 117, 18);
   color: #fff;
}

.logo{
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: 700;
   font-size: 20px;
}